.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
[Ee]hthumbs.db
[Tt]humbs.db
default.profraw

/*.sln
/*.csproj
.vs/
*.suo
*.suo.meta
*.user
*.user.meta
*.sln.docstates
*.sln.docstates.meta
*.userprefs
*.userprefs.meta
*.svd
*.svd.meta
*.pidb
*.pidb.meta
*.exe.stackdump
*.exe.stackdump.meta
*.dSYM
*.dSYM.meta
sysinfo.txt
sysinfo.txt.meta

/mono_crash.*
/*.blob
/_[Dd]ev/
/_[Ll]ocal/
/_[Aa]pp[Ss]tore/
/[Bb]uild/
/Library/
/Logs/
/MemoryCaptures/
/obj/
/PlaygroundCache/
/Temp/
/UserSettings/

/**/.vscode/launch.json
/**/.vscode/.*
